# Default ignores
/bootstrap/compiled.php
composer.phar
composer.lock
.DS_Store
Thumbs.db
.env.*.php
.env.php

#Local log files ignore
public/*.log

#DataBase local configuration ignore
#app/config/database.php

#Igrone NetBeans project folder
/nbproject

#Ignore local users folder.
/app/storage/users