<!DOCTYPE html>
<html>
    <head>
        <title>Favorite class - TEST</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        
        <script type="text/javascript">
            var debug = true;
        </script>
        
        
        <link type="text/css" rel="stylesheet" href="qunit-1.13.0.css">
        <script type="text/javascript" src="qunit-1.13.0.js"></script>
        <script type="text/javascript" src="../inc/js/functions.js"></script>
        <script type="text/javascript" src="../inc/js/classes.js"></script>
    </head>
    <body>
        <div id="qunit"></div>
        
        <script type="text/javascript" src="favorite_class_test.js"></script>
    </body>
</html>
